<p id="notice"><%= notice %></p>

<h1>Create questions via FIE</h1>
Create question : <input id="new_question" type="text" fie-enter="create_question" value="">
<h1>Questions :</h1>
<% @questions.each do |question| %>

  <p><%= question.content %> |
    <% parameters = {id: question.id}.to_json %>
    <button type="button" fie-click="toggle_edit_field" fie-parameters="<%= parameters %>">Edit</button>
    <%= link_to 'Destroy', question, method: :delete %>
  </p>
  <input id="question-edit-<%= question.id %>" type="text"
         fie-enter="update_question" fie-parameters="<%= parameters %>"
         value="<%= question.content %>" class="display-none">

<% end %>

<h1>Filter questions :</h1>
Filter question by : <input id="filter_question" type="text" fie-enter="filter_questions" value="">
<button type=button fie-click="refresh_page">Reset filter</button>
